<h1>Wypełnij formularz danych pracownika</h1><br>
<form [formGroup]="employeeDataForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12 col-md-4 form-group">
      <label for="pesel">Pesel</label>
      <input id="pesel" type="text" class="form-control" formControlName="pesel">
    </div>
    <div class="col-sm-12 col-md-4 form-group">
      <label for="nip">NIP</label>
      <input id="nip" type="text" class="form-control" formControlName="nip">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-4 form-group">
      <label for="taxOffice">Urząd skarbowy</label>
      <input id="taxOffice" type="text" class="form-control" formControlName="taxOffice">
    </div>
    <div class="col-sm-12 col-md-4 form-group">
      <label for="citizenship">Obywatelstwo</label>
      <input id="citizenship" type="text" class="form-control" formControlName="citizenship">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 form-group">
      <label for="position">Obejmowane stanowisko</label>
      <input id="position" type="text" class="form-control" formControlName="position">
    </div>
    <div class="col-sm-12 col-md-4 form-group">
      <label for="department">Wydział</label>
      <input id="department" type="text" class="form-control" formControlName="department">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-mm-4 form-group">
      <label for="nfz">Narodowy Fundusz Zdrowia do którego należysz</label>
      <input id="nfz" type="text" class="form-control" formControlName="nfz">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-mm-4 form-group">
      <label for="bankName">Nazwa banku</label>
      <input id="bankName" type="text" class="form-control" formControlName="bankName">
    </div>
    <div class="col-sm-12 col-mm-4 form-group">
      <label for="bankAccount">Numer konta bankowego na które należy przelać wynagrodzenie</label>
      <input id="bankAccount" type="text" class="form-control" formControlName="bankAccount">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-mm-4 form-group">
      <label for="personToNotfiy">Osoba, którą należy powiadomić w razie wypadku</label>
      <input id="personToNotfiy" type="text" class="form-control" formControlName="personToNotfiy">
    </div>
  </div>
  <hr>

  Podaj swoje adresy (zamieszkania, zameldowania, korespondencji):
  <table class="table table-striped">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Typ adresu</th>
      <th scope="col">Miasto</th>
      <th scope="col">Kod pocztowy</th>
      <th scope="col">Gmina</th>
      <th scope="col">Powiat</th>
      <th scope="col">Ulica</th>
      <th scope="col">Numer domu</th>
      <th scope="col">Numer mieszkania</th>
      <th scope="col"></th>
    </tr>
    <tbody>
    <tr *ngFor="let addressesData of addressesDatas; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ addressesData.addressType }}</td>
      <td>{{ addressesData.city }}</td>
      <td>{{ addressesData.postcode }}</td>
      <td>{{ addressesData.community }}</td>
      <td>{{ addressesData.county }}</td>
      <td>{{ addressesData.street }}</td>
      <td>{{ addressesData.houseNumber }}</td>
      <td>{{ addressesData.apartmentNumber }}</td>
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="onDelete(addressesData.id, addressesDatas)">delete</button>
    </tr>
    </tbody>
  </table>
  <div class="action-buttons" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button type="button" class="table-buttons" (click)='onAdd(addressesmodalcontent, "kidsDataFormModal")'>Dodaj</button>
  </div>

  Podaj dane członków rodziny:
  <table class="table table-striped">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pokrewieństwo</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Data urodzenia</th>
      <th scope="col">Czy ubezpieczony</th>
      <th scope="col"></th>
    </tr>
    <tbody>
    <tr *ngFor="let familyMembersPersonalData of familyMembersPersonalDatas; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ familyMembersPersonalData.connection }}</td>
      <td>{{ familyMembersPersonalData.name }}</td>
      <td>{{ familyMembersPersonalData.forename }}</td>
      <td>{{ familyMembersPersonalData.dateOfBirth }}</td>
      <td>{{ familyMembersPersonalData.insured }}</td>
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="onDelete(familyMembersPersonalData.id, familyMembersPersonalDatas)">delete</button>
    </tr>
    </tbody>
  </table>
  <div class="action-buttons" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button type="button" class="table-buttons" (click)='onAdd(familymembersmodalcontent, "familyMembersDataFormModal")'>Dodaj</button>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12 col-md-4 form-group">
        </div>
        <div class="col-sm-12 form-group">
          <button class="btn btn-success" type="submit"
                  (click)="poppingMessage(poppingmassagecontent, 'Wiadomość')">Zapisz dane</button>
        </div>
        <div class="col-sm-12 col-md-4 form-group">
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #addressesmodalcontent let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id='familyMembersDataFormModal'>Wprowadź adresy</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='addressesDataForm' (ngSubmit)="addAddressData()">
      <div class="form-group">
        <div class="col-sm-12 col-md-10 modal-label">
          <label for="addressType">Typ adresu</label>
          <input id="addressType" type="text" class="form-control" formControlName="addressType">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="city">Miasto</label>
          <input id="city" type="text" class="form-control" formControlName="city">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="postcode">Kod pocztowy</label>
          <input id="postcode" type="text" class="form-control" formControlName="postcode">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="community">Gmina</label>
          <input id="community" type="text" class="form-control" formControlName="community">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="county">Powiat</label>
          <input id="county" type="text" class="form-control" formControlName="county">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="street">Ulica</label>
          <input id="street" type="text" class="form-control" formControlName="street">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="houseNumber">Numer domu</label>
          <input id="houseNumber" type="text" class="form-control" formControlName="houseNumber">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="apartmentNumber">Numer mieszkania</label>
          <input id="apartmentNumber" type="text" class="form-control" formControlName="apartmentNumber">
        </div>
      <button type="submit" class="btn btn-success" (click)="modal.close()">Save</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<ng-template #familymembersmodalcontent let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id='familyMembersFormModal'>Podaj dane członka rodziny</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='familyMembersDataForm' (ngSubmit)="addFamilyMember()">
      <div class="form-group">
        <div class="col-sm-12 col-md-10 form-group">
          <label for="connection">Pokrewieństwo</label>
          <input id="connection" type="text" class="form-control" formControlName="connection">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="name">Imię</label>
          <input id="name" type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="forename">Nazwisko</label>
          <input id="forename" type="text" class="form-control" formControlName="forename">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="dateOfBirth">Data urodzenia</label>
          <input id="dateOfBirth" type="text" class="form-control" formControlName="dateOfBirth"
                 placeholder="rrrr-mm-dd"
                 name="dateOfBirth" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" d="familyMemberDataForm.value.birthDate" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="insured">Ubezpieczony</label>
          <input id="insured" type="text" class="form-control" formControlName="insured">
        </div>
      </div>
      <button type="submit" class="btn btn-success" (click)="modal.close()">Save</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<ng-template #poppingmassagecontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="poppingmassage"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <td>{{ message }}</td>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
