<p>create-new-account works!</p>
<button *ngIf="hideWorkerRegisterButton" (click)="generateRegistrationLink('WORKER')">Wygeneruj link logowania dla nowego pracownika</button>
<button *ngIf="hideHREmployeeRegisterButton" (click)="generateRegistrationLink('HR_EMPLOYEE')">Wygeneruj link logowania dla pracownika działu kadr</button>
<button *ngIf="hideAdminRegisterButton" (click)="generateRegistrationLink('ADMIN')">Wygeneruj link logowania dla administratora</button>

<form *ngIf="hideRegistrationLink">Link dla {{userType}}: {{ registrationLink }}</form>
