<!--<form class="box" action="index.html" method="post">-->
<!--  <h1>Login</h1>-->
<!--  <input type="text" name="" placeholder="Username" id="username">-->
<!--  <input type="password" name="" placeholder="Password" id="password">-->
<!--  <input type="submit" name="" value="Login">-->
<!--</form>-->
<html>
<head>
  <meta charset="utf-8">
  <title>َAnimated Login Form</title>
</head>
<body>


<!--<div class="header center">Log In</div>-->

<form class="box" [formGroup]="loginForm" (ngSubmit)="login()">
    <input  type="text" id="email" placeholder="email" autocomplete="off" formControlName="email" required>
    <input  type="password" id="password" placeholder="Password" formControlName="password" required>
<!--  <div class="actions">-->
    <button color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>
<!--  </div>-->

</form>

<!--<h1>Strona startowa aplikacji</h1>-->
<!--<p>-->
<!--  <a routerLink="/admin">Admin</a><br>-->
<!--  <a routerLink="/hr_employee">Pracownik Kadr</a><br>-->
<!--  <a routerLink="/new_employee">Nowy pracownik</a><br>-->
<!--</p>-->


</body>
</html>
