<html>
<head>
  <meta charset="utf-8">
  <title>َLogin Form</title>
</head>
<body>
<h2>
<form class="box" [formGroup]="loginForm" (ngSubmit)="login()">
  <h2>Zaloguj się</h2>
    <input  type="text" id="email" placeholder="email" autocomplete="off" formControlName="email" required>
    <input  type="password" id="password" placeholder="Password" formControlName="password" required>
    <button color="primary" type="submit" [disabled]="!loginForm.valid">Zaloguj się</button>
</form>
</h2>

</body>
</html>
