<div class="row">
  <div class="col-xs-12 col-lg-12">
    <form [formGroup]="personalDataForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12 col-md-4 form-group">
          <label for="name">Imię</label>
          <input id="name" type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label for="secondName">Opis zamówienia</label>
          <input id="secondName" type="text" class="form-control" formControlName="secondName">
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label for="surname">Nazwisko</label>
          <input id="surname" type="text" class="form-control" formControlName="surname">
        </div>
      </div>
      <hr>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-20 col-lg-4">
    <form [formGroup]="personalDataForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-20 col-md-4 form-group">
          <div class="input-group">
            <label for="dateOfBirth">Data urodzenia </label>
            <input id="dateOfBirth" type="text" class="form-control" formControlName="dateOfBirth" placeholder="yyyy-mm-dd"
                   name="dateOfBirth" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="col-sm-20 col-md-4 form-group">
          <label for="sex">Płeć</label>
          <input id="sex" type="text" class="form-control" formControlName="sex">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="row">
            <div class="col-sm-12 col-md-4 form-group">
            </div>
            <div class="col-sm-12 col-md-4 form-group">
              <button class="btn btn-success" type="submit">Dodaj</button>
            </div>
            <div class="col-sm-12 col-md-4 form-group">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="sortMenu" ngbDropdownToggle>{{selectedSortOrder}}</button>
  <div class="dropdown-menu" aria-labelledby="sortMenu">
    <button class="dropdown-item" *ngFor="let sortOrder of sortOrders" (click)="ChangeSortOrder(sortOrder)" >{{sortOrder}}</button>
  </div>
</div>
