<p>admin works!</p>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <form [formGroup]="schoolDataForm">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ukończona Szkoła</th>
          <th scope="col">Rok ukończenia</th>
          <th scope="col">Zawód</th>
          <th scope="col">Specjalność</th>
          <th scope="col">Uzyskany tytuł</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let school of schools; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ school.name }}</td>
          <td>{{ school.graduationYear }}</td>
          <td>{{ school.profession }}</td>
          <td>{{ school.specialty }}</td>
          <td>{{ school.title }}</td>
        </tr>
        </tbody>
        <div class="action-buttons" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <button class="btn btn-lg btn-outline-primary" (click)="onAdd(content)">Dodaj</button>
          <button class="btn btn-lg btn-outline-primary" (click)="onDelete()">delete</button>
        </div>
      </table>
    </form>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj szkołę</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="schoolDataForm" (ngSubmit)="addSchool()">
      <div class="form-group">
        <div class="col-sm-12 col-md-10 form-group">
          <label for="name">Ukończona szkoła</label>
          <input id="name" type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="graduationYear">Rok ukończenia szkoły</label>
          <input id="graduationYear" type="text" class="form-control" formControlName="graduationYear">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="profession">Zawód</label>
          <input id="profession" type="text" class="form-control" formControlName="profession">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="specialty">Specjalność</label>
          <input id="specialty" type="text" class="form-control" formControlName="specialty">
        </div>
        <div class="col-sm-12 col-md-10 form-group">
          <label for="title">Uzyskany tytuł</label>
          <input id="title" type="text" class="form-control" formControlName="title">
        </div>
      </div>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
  </div>
</ng-template>
