<html>
<p>register-new-account works!</p>
<body>
<form [formGroup]="userDataForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <input  type="text" id="registerationLink" placeholder="Link" autocomplete="off" formControlName="registerationLink" required>
    <input  type="text" id="email" placeholder="email" autocomplete="off" formControlName="email" required>
    <input  type="password" id="password" placeholder="Password" formControlName="password" required>
    <button type="submit" class="btn btn-success">potwierdź</button>
  </div>
</form>
</body>
</html>
