<p>document-generator works!</p>
<button type="button" (click)=modifyPDF()></button>


<div>
  <h3>Upload File</h3>
  <form [formGroup]="fileForm" (ngSubmit)="onSubmit()" >
    <input type="file" (change)="upload($event)" />
    <button type="submit" value="upload">Submit</button>
  </form>
</div>

<!--<div>-->
<!--  <h3>List of Documents</h3>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Id</th>-->
<!--      <th>Name</th>-->
<!--      <th>Download Link</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="doc:${docs}">-->
<!--      <td th:text="${doc.Id}" />-->
<!--      <td th:text="${doc.docName}"/>-->
<!--      <td><a th:href="@{'http://localhost:8080/downloadFile/'+${doc.id}}">Download</a></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
