<div>
  <h5>Typ konta: {{ this.accountTypeTranslate }}</h5>
</div>
<div>
  <form [formGroup]="passwordDataForm" (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="password">Stare hasło</label>
        <input id="password" type="password" class="form-control" formControlName="password">
        <label for="newPassword">Nowe hasło</label>
        <input id="newPassword" type="password" class="form-control" formControlName="newPassword">
        <label for="confirmPassword">Powtórz hasło</label>
        <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword">
      </div>
    <button class="btn btn-success" type="submit">Zatwierdź zmianę</button>
  </form>
</div>
