<div *ngIf="hideAll">
  <br><h1>Wybierz jedną z opcji</h1>
    <button class="menu-button" (click)="loadCandidateForm()">Otworz formularz kandydata</button>
    <button class="menu-button" (click)="loadEmployeeForm()">Otworz formularz pracownika</button>
    <button class="menu-button" (click)="loadFileDownload()">Wygeneruj i pobierz dokumenty</button>
</div>

<app-candidate-form  *ngIf="hideCandidateForm"></app-candidate-form><br>

<app-employee-form  *ngIf="hideEmployeeForm"></app-employee-form><br>

<app-file-download  *ngIf="hideFileDownload"></app-file-download><br>

<button class="badge-pill" *ngIf="hideAll == false" (click)="goBack()">Powrót</button>
