<!--<h1>Strona startowa aplikacji</h1>-->
<!--<p>-->
<!--  <a routerLink="/candidate_form">Formularz dla kandydata</a><br>-->
<!--  <a routerLink="/employee_form">Formularz dla pracownika</a><br>-->
<!--  <a routerLink="/upload_file">Prześlij plik</a><br>-->
<!--</p>-->
<div *ngIf="hideAll">
Strona nowego pracownika
  <button (click)="loadCandidateForm()">Otworz formularz kandydata</button>
  <button (click)="loadEmployeeForm()">Otworz formularz pracownika</button>
</div>
<button *ngIf="hideAll == false" (click)="goBack()">Powrót</button>

<app-candidate-form  *ngIf="hideCandidateForm"></app-candidate-form><br>


<app-employee-form  *ngIf="hideEmployeeForm"></app-employee-form><br>

<!--<button (click)="loadDokumentGenerator()">Generuj dokumenty</button>-->
<!--<app-change-account-data  *ngIf="hideDocumentGenerator"></app-change-account-data>-->
