<h1>Strona startowa aplikacji</h1>
<body>

<!--<p>-->
<!--  <a routerLink="/login">Login</a><br>-->
<!--  <a routerLink="/admin">Go to admin</a><br>-->
<!--  <a routerLink="/candidate_form">Formularz dla kandydata</a><br>-->
<!--  <a routerLink="/employee_form">Formularz dla pracownika</a><br>-->
<!--  <a routerLink="/file_download">File Download</a><br>-->
<!--  <a routerLink="/file_upload">File Upload</a><br>-->
<!--</p>-->
<!--<app-candidate-form></app-candidate-form><app-candidate-form></app-candidate-form>-->
<!--<button (click)="candidateForm()">Formularz dla kandydata</button>-->
<!--  <div *ngIf="this.pressed"><app-file-upload></app-file-upload></div>-->


<!--<p>-->
<!--  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="isColapsed" aria-expanded="false" aria-controls="collapseExample">-->
<!--    Dodaj dokument-->
<!--  </button>-->
<!--</p>-->
<!--<div class="collapse" id="isColapsed">-->
<!--  <div class="card card-body">-->
<!--      Dodaj dokument-->
<!--    <button><app-file-upload></app-file-upload></button>-->
<!--  </div>-->
<!--</div>-->
<!--<app-file-upload></app-file-upload>-->
<!--<div [ngSwitch]="userType">-->
<!--  <div *ngSwitchCase="'worker'">-->

<div>
<app-new-employee></app-new-employee><br><br>
</div>

<!--<button (click)="loadCandidateForm()">Otworz formularz</button>-->
<!--<app-candidate-form  *ngIf="hide"></app-candidate-form>-->
<!--  </div>-->
<!--</div>-->
<!--<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"-->
<!--        aria-controls="collapseExample">-->
<!--  Dodaj dokument-->
<!--<button><app-file-upload></app-file-upload></button>-->
<!--</button>-->
<!--<div class="collapse" id="isCollapsed">-->
<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <app-file-upload></app-file-upload>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div ngbDropdown class="d-inline-block">-->
<!--  <button type="button" class="btn btn-outline-primary" id="sortMenu"-->
<!--          ngbDropdownToggle>{{'Dodaj plik'}}</button>-->
<!--  <div ngbDropdownMenu aria-labelledby="sortMenu">-->
<!--&lt;!&ndash;    <app-file-upload></app-file-upload>&ndash;&gt;-->
<!--    <app-candidate-form></app-candidate-form>-->
<!--  </div>-->
<!--</div><br>-->

<button (click)="logout()">Logout</button>

<!--<app-candidate-form></app-candidate-form>-->

</body>
