<h1>Wybierz z listy plik do pobrania</h1><br>
<div ngbDropdown class="d-inline-block">
  <button type="button" (click)="getFileList()" class="btn btn-outline-primary" id="sortMenu"
          ngbDropdownToggle>{{ selectedSortOrder }}</button>
  <div ngbDropdownMenu aria-labelledby="sortMenu">
    <button type="button" class="dropdown-item" *ngFor="let sortOrder of sortOrders"
            (click)="changeSortOrder(sortOrder)">{{ sortOrder }}</button>
  </div>
</div><br>

<br><button type="button" class="btn-outline-primary" (click)="downloadFile(poppingmassagecontent)">Pobierz i wygeneruj plik</button><br>

<ng-template #poppingmassagecontent let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="poppingmassage"></h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <td>{{ message }}</td>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
