<h4>Generowanie dokumentacji dla nowo przyjętych pracowników
  <button class="up-buttons" (click)="changePassword(content)">Ustawienia konta</button>
  <button class="up-buttons" (click)="logout()">Wyloguj się</button>
</h4>
<br>

<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Zmień dane konta</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-change-account-data></app-change-account-data>
  </div>
  <div class="modal-footer">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">Zakończ zmiany</button>
  </div>
</ng-template>
